.container {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition-duration: 0.4s;
}

.container:hover {
  background-color: #f1f1f1;
}

.contentWrapper {
  display: flex;
  align-items: center;
  padding: 1rem 1rem 1rem 2rem;
  gap: 1rem;
}
