.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  transition: top 0.3s;
  box-shadow: 0px 2px 1px -1px rgb(197, 197, 197); /* This adds a gentle shadow */
}
