.container {
  height: fit-content;
  padding: 2rem 4rem 4rem 4rem;
  display: flex;
  gap: 0.25rem;
  width: 100%;
  align-items: end;
  justify-content: center;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 0.5rem;
}
